.catalog {
    padding: 24px 80px;
    overflow: auto;
    width: 100%;
    
    &__searchbar {
        width: 430px;
        margin: 0 auto;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        gap: 16px;
    }

    &__navigation {
        margin: 0 auto;
        width: 200px;
        display: flex;
        align-items: center;
        gap: 16px;

        p {
            margin: 0;
        }
    }
}

@media all and (max-width: 1680px) {
    .catalog__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (max-width: 1440px) {
    .catalog {
        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media all and (max-width: 768px) {
    .catalog {
        padding: 24px 0;
    }
}

@media all and (max-width: 630px) {
    .catalog__list {
        grid-template-columns: 1fr;
    }
}