.catalog__list-item {
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &-top {
        &-img {
            width: 250px;
            height: 250px;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 22px;
    
            img {
                border-radius: 22px;
            }
        }
    
        h3 {
            padding-left: 16px;
            text-align: left;
        }
    }

    p {
        padding-left: 16px;
        text-align: left;
    }

    &-bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        position: static;
        bottom: 0;

        button {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 8px;
            gap: 8px;

            width: 34px;
            height: 34px;

            /* UI/Dark */

            background: #1A1F16;
            border-radius: 9px;

            h4 {
                display: inline-block;
            }

            img {
                display: inline-block;
                width: 18px;
                height: 18px;

                background: #000;
            }
        }


    }
}